# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
client/dist/
server/dist/
/out-tsc/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/

# Angular cache
client/.angular/
.angular/

# TypeScript
*.tsbuildinfo
